<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csr.csrcheck.mapper.Abnormal_productsMapper">
<sql id="apprid">
`id`,`approval_num`,`product_id`,`approval_no`,`approved_by`
</sql>
    
    <select id="getAllProduct" resultType="com.csr.csrcheck.pojo.Abnormal_products">
        SELECT p.`product_name`,a.`packing`,a.`batch_no`,a.`approval_no`,a.`disqualification`,
               a.`inspection_result`,a.`standard_code`,a.`agencies_to_verify`,a.`last`,a.`provenance`
        FROM abnormal_products a,product p
        WHERE a.`product_id`=p.`product_id`
    </select>
   <!-- <mapper namespace="com.zhengqing.mybatis._07onetomany02.DepartmentMapper">
        &lt;!&ndash; 一对多: 嵌套结果:只发送1条关联sql 映射文件Mapper结果手动封装ResultMap &ndash;&gt;
        <select id="findAll" resultMap="DepartmentMap">
         select d.id,d.name,e.id eid ,e.username eusername ,e.hobby ehobby,e.dept_id
         from t_department d
         left join t_employee e on e.dept_id = d.id
    </select>

        &lt;!&ndash; id:唯一标识   type：resultMap的封装结果 -》 就是把数据库的列封装到一个对象的属性上去对应 &ndash;&gt;
        <resultMap id="DepartmentMap" type="com.zhengqing.mybatis._07onetomany02.Department">
            &lt;!&ndash; ①先封装主键 column:数据库的列 property：bean类的属性 目的：让它们互相对应，一一关系 &ndash;&gt;
            <id column="id" property="id" />
            &lt;!&ndash; ②再封装非主键 &ndash;&gt;
            <result column="name" property="name" />
            &lt;!&ndash; ③封装关联属性 property：集合数据 ofType：集合中元素类型 &ndash;&gt;
            <collection property="list" javaType="list" ofType="com.zhengqing.mybatis._07onetomany02.Employee">
                <id column="eid" property="id"/>
                <result column="eusername" property="username"/>
                <result column="ehobby" property="hobby"/>
            </collection>
        </resultMap>-->
    </mapper>