<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csr.csrcheck.mapper.ApprovalsMapper">
<sql id="apprid">
`id`,`approval_num`,`product_id`,`approval_no`,`approved_by`
</sql>
    
    <select id="getApprovalslist" resultType="com.csr.csrcheck.pojo.Approvals">
      SELECT
a.`approval_num`,p.`product_name`,a.`approval_no`,c.`company_name` ,b.approved_t_name
   FROM approvals a,product p,approved_by b,company c
   WHERE a.`product_id`=p.`product_id` AND a.approved_by = b.id AND
   p.`company_id`=c.`id`;
    </select>


</mapper>