<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csr.csrcheck.mapper.ClinicMapper">
<sql id="clinid">
`id`,`product_id`,`record_number`,`adaptation_disease`,`record_date`
</sql>
    
    <select id="getCliniclist" resultType="com.csr.csrcheck.pojo.Clinic">

        SELECT c.`id`,c.`record_number`,c.`adaptation_disease`,p.`product_name`,c.`record_date`, o.`company_name`
       FROM clinic c, product p, z_product_type z,company o
       WHERE
       p.`company_id`=o.`id` AND p.product_id=c.`product_id` AND p.product_type_id=z.id AND z.id=1;
    </select>

    <resultMap id="CID" type="com.csr.csrcheck.pojo.Clinic">
        <id property="id" column="id"></id>
        <result column="product_id" property="product_id"></result>
        <result column="record_number" property="record_number"></result>
        <result column="adaptation_disease" property="adaptation_disease"></result>
        <result column="record_date" property="record_date"></result>
     <association property="product" javaType="com.csr.csrcheck.pojo.Product">
         <id column="product_id" property="product_id"></id>
         <result property="product_name" column="product_name"></result>
     </association>
     <association property="company" javaType="com.csr.csrcheck.pojo.Company">
         <id column="id" property="id"></id>
         <result property="company_name" column="company_name"></result>
     </association>
    </resultMap>

    <select id="getCliniclistpage" resultMap="CID" parameterType="java.lang.String">
        SELECT c.*,p.`product_name`,o.`company_name`
        FROM clinic c, product p, z_product_type z,company o
        <trim prefix="where" prefixOverrides="and | or">
        AND p.`company_id`=o.`id` AND p.product_id=c.`product_id` AND p.product_type_id=z.id
       <if test="product_name!=null and product_name!=''">
           AND p.`product_name` LIKE CONCAT('%',#{product_name},'%')
       </if>
        </trim>
    </select>

    <insert id="addClinic" useGeneratedKeys="true" keyProperty="id" parameterType="com.csr.csrcheck.pojo.Clinic">
        INSERT INTO `clinic` (`product_id`,`record_number`,`adaptation_disease`,
        `record_date`)
        VALUE (#{product_id},#{record_number},#{adaptation_disease},
        #{record_date})
    </insert>

    <!--修改 -->
    <update id="updateClinic" parameterType="com.csr.csrcheck.pojo.Clinic">
        update `clinic`
        set
        product_id=#{product_id},record_number=#{record_number},
        adaptation_disease=#{adaptation_disease},
        record_date=#{record_date}
        where id=#{id}
    </update>

    <select id="findclinicByid" resultType="com.csr.csrcheck.pojo.Clinic">
        select c.* from clinic c where c.id=#{id}
    </select>

    <delete id="deleteclinicByid">
        delete from clinic where id=#{id}
    </delete>
</mapper>