<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csr.csrcheck.mapper.CompanyMapper">
<sql id="commid">
`strategic_focus`,`listed_unlisted`,`certificate_id`,`ten_shareholders`,
`introduction_controller_id`,`company_ranking`,`licence_no`,`production`,
`organization`,`expire_date`,`business_license`,`exequatur`
</sql>
    
    <select id="getCommpanylist" resultType="com.csr.csrcheck.pojo.Company">
        SELECT c.*,(SELECT `con_name` FROM z_actual_controller WHERE id=c.`introduction_controller_id`) AS user_name,
        (SELECT certificate_no FROM `certificate` WHERE id=c.`certificate_id`) AS certificate_no
        FROM company c
    </select>


    <select id="getCommpanylistbyname" resultType="com.csr.csrcheck.pojo.Company">
        SELECT c.*,(SELECT `con_name` FROM z_actual_controller WHERE id=c.`introduction_controller_id`) AS user_name,
        (SELECT certificate_no FROM `certificate` WHERE id=c.`certificate_id`) AS certificate_no
        FROM company c
        <trim prefix="where" prefixOverrides="and | or">
        <if test="company_name != null and company_name != ''">
            and c.company_name like CONCAT ('%',#{company_name},'%')
        </if>
        </trim>
        ORDER BY c.`company_ranking`
    </select>
<!--    pagehelper...分页查询-->
    <select id="getCompanyPage" resultType="com.csr.csrcheck.pojo.Company">
        SELECT c.*,(SELECT `con_name` FROM z_actual_controller WHERE id=c.`introduction_controller_id`) AS user_name,
        (SELECT certificate_no FROM `certificate` WHERE id=c.`certificate_id`) AS certificate_no
        FROM company c
        <trim prefix="where" prefixOverrides="and | or">
            <if test="company_name != null and company_name != ''">
                and c.company_name like CONCAT ('%',#{company_name},'%')
            </if>
        </trim>
        ORDER BY c.`company_ranking`
    </select>



    <select id="getCommpanylistpage" resultType="com.csr.csrcheck.pojo.Company">
        SELECT c.*,(SELECT `con_name` FROM z_actual_controller WHERE id=c.`introduction_controller_id`) AS user_name,
        (SELECT certificate_no FROM `certificate` WHERE id=c.`certificate_id`) AS certificate_no
        FROM company c
        <trim prefix="where" prefixOverrides="and | or">
            <if test="company_name != null and company_name != ''">
                and c.company_name like CONCAT ('%',#{company_name},'%')
            </if>
        </trim>
        ORDER BY c.`company_ranking` limit #{currentPageNo},#{pageSize}
    </select>
    <select id="getCompanyCount" resultType="int">
        select  count(*) from company c
        <trim prefix="where" prefixOverrides="and | or">
            <if test="company_name != null and company_name != ''">
                and c.company_name like CONCAT ('%',#{company_name},'%')
            </if>
        </trim>
    </select>
    <select id="getAll" resultType="com.csr.csrcheck.pojo.Special_bulletin">
        SELECT s.`title`,s.`content`,s.`release_time`,c.`company_name`
        FROM special_bulletin s,company c
        WHERE s.`company_id`=c.`id`;
    </select>


    <select id="getCommpanyByid" resultType="com.csr.csrcheck.pojo.Company">
        select c.* from  company c
    </select>
<!--添加-->
    <insert id="addCommpany" useGeneratedKeys="true" keyProperty="id" parameterType="com.csr.csrcheck.pojo.Company">
        INSERT INTO `company`
        (`company_name`,`company_address`,`type_ownership`,`main_business`,
        `strategic_focus`,`listed_unlisted`,`ten_shareholders`,`introduction_controller_id`,
        `production`, `organization`,`company_ranking`)
        VALUE
        (#{company_name},#{company_address},#{type_ownership},#{main_business},
        #{strategic_focus},#{listed_unlisted},#{ten_shareholders},#{introduction_controller_id},
        #{production},#{organization},#{company_ranking})
    </insert>

    <select id="list" resultType="com.csr.csrcheck.pojo.Company">
       SELECT `id`,`company_name` FROM `company`
    </select>
    <!--修改 -->
    <update id="updateCompany" parameterType="com.csr.csrcheck.pojo.Company">
        update `company`
        set
        company_name=#{company_name},company_address=#{company_address},
        type_ownership=#{type_ownership},main_business=#{main_business},
        strategic_focus=#{strategic_focus},listed_unlisted=#{listed_unlisted},
        ten_shareholders=#{ten_shareholders},introduction_controller_id=#{introduction_controller_id},
        production=#{production},organization=#{organization},
        company_ranking=#{company_ranking}
        where id=#{id}
    </update>

    <select id="findcompanyByid" resultType="com.csr.csrcheck.pojo.Company">
        select c.* from company c where c.id=#{id}
    </select>

    <delete id="deletecompanyByid">
        delete from company where id=#{id}
    </delete>

</mapper>