<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csr.csrcheck.mapper.CompanyMapper">
<sql id="commid">
`id`,`company_name`,`company_address`,`type_ownership`,`main_business`,`product_id`,
`strategic_focus`,`certificate_id`,`ten_shareholders`,`introduction_controller_id`,
`number_patents`,`company_ranking`,`business_license`,`exequatur`,`licence_no`,`production`,
</sql>
    
    <select id="getCommpanylist" resultType="com.csr.csrcheck.pojo.Company">
       SELECT c.`id`,c.`company_name`,c.`company_address`,c.`type_ownership`,
        c.main_business,c.`strategic_focus`,c.`licence_no`,c.`production`,
        c.`ten_shareholders`,(SELECT `con_name` FROM z_actual_controller
         WHERE id=c.`introduction_controller_id`) AS user_name,c.`company_ranking`,
         c.`business_license`,c.`exequatur`
        FROM company c
    </select>

    <select id="getCommpanylistbyname" resultType="com.csr.csrcheck.pojo.Company">
        SELECT c.`id`,c.`company_name`,c.`company_address`,c.`type_ownership`,
        c.main_business,c.`strategic_focus`,c.`licence_no`,c.`production`,
        c.`ten_shareholders`,(SELECT `con_name` FROM z_actual_controller
        WHERE id=c.`introduction_controller_id`) AS user_name,c.`company_ranking`,
        c.`business_license`,c.`exequatur`
        FROM company c
        <trim prefix="where" prefixOverrides="and | or">
        <if test="company_name != null and company_name != ''">
            and c.company_name like CONCAT ('%',#{company_name},'%')
        </if>
        </trim>
        ORDER BY c.`company_ranking`
    </select>
<!--    pagehelper...分页查询-->
    <select id="getCompanyPage" resultType="com.csr.csrcheck.pojo.Company">
        SELECT c.`id`,c.`company_name`,c.`company_address`,c.`type_ownership`,
        c.main_business,c.`strategic_focus`,c.`licence_no`,c.`production`,
        c.`ten_shareholders`,c.listed_unlisted,(SELECT `con_name` FROM z_actual_controller
         WHERE id=c.`introduction_controller_id`) AS user_name,c.`company_ranking`,
         c.`business_license`,c.`exequatur`
        FROM company c
    </select>
    <select id="getAll" resultType="com.csr.csrcheck.pojo.Special_bulletin">
        SELECT s.`title`,s.`content`,s.`release_time`,c.`company_name`
        FROM special_bulletin s,company c
        WHERE s.`company_id`=c.`id`;
    </select>

</mapper>