<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csr.csrcheck.mapper.ContendMapper">
    <select id="getContendList" resultType="com.csr.csrcheck.pojo.Contend">
       SELECT o.company_name,c.`time`,c.`outline`,c.`technology`,c.`talent`,c.`culture`,c.`supervise`,c.`resource`,c.`rival`
FROM company o, `contend` c
WHERE c.`company_id`=o.`id`;
    </select>
</mapper>