<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csr.csrcheck.mapper.Flight_checkMapper">
<sql id="fligid">
`id`,`company_id`,`product_id`,`punish`,`term_of_validity`
</sql>
    
    <select id="getFlight_checklist" resultType="com.csr.csrcheck.pojo.Flight_check">
        SELECT f.`id`,
       /* (SELECT `company_name` FROM company WHERE id=f.`company_id`) AS company_name,*/
        f.`punish`,(SELECT product_name FROM product WHERE product_id=f.`product_id` )AS product_name,
        f.`term_of_validity`
        FROM flight_check f
    </select>


</mapper>