<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csr.csrcheck.mapper.Flight_checkMapper">
<sql id="fligid">
`id`,`check_no`,`product_id`,`punish`,`attention`,`publication`,`term_of_validity`,`content`
</sql>

    <select id="getFlight_checklist" resultType="com.csr.csrcheck.pojo.Flight_check">
        SELECT
f.`publication`,f.`check_no`,c.`company_name` ,f.content
   FROM flight_check f,company c,product p,z_product_type z
   WHERE
   p.`company_id`=c.`id` AND f.`product_id`=p.`product_id`AND p.product_type_id=z.id AND z.id=1 ;
    </select>

    <select id="getFlight_checklist2" resultType="com.csr.csrcheck.pojo.Flight_check">
   SELECT
c.`company_name`,p.`product_name`,f.`attention`,f.`punish` ,f.content
   FROM flight_check f,company c,product p,z_product_type z
   WHERE
   p.`company_id`=c.`id` AND f.`product_id`=p.`product_id`AND p.product_type_id=z.id AND z.id=2 ;
    </select>

    <select id="getFlight_checklist3" resultType="com.csr.csrcheck.pojo.Flight_check">
   SELECT
c.`company_name`,p.`product_name`,f.`attention`,f.`punish` ,f.content
   FROM flight_check f,company c,product p,z_product_type z
   WHERE
   p.`company_id`=c.`id` AND f.`product_id`=p.`product_id`AND p.product_type_id=z.id AND z.id=3 ;
    </select>

    <select id="getListpage" resultType="com.csr.csrcheck.pojo.Flight_check">
            SELECT f.*,c.`company_name`,p.`product_name`,z.`product_t_name`
            FROM `flight_check` f,product p,company c,z_product_type z
             <trim prefix="where" prefixOverrides="and | or">
                 and  f.`product_id`=p.`product_id`
                 AND p.`company_id`=c.`id`
                 AND p.`product_type_id`=z.`id`
                 <if test="company_name!=null and company_name!=''">
                     AND c.`company_name` LIKE CONCAT('%',#{company_name},'%')
                 </if>
                 <if test="product_name!=null and product_name!=''">
                     AND p.`product_name` LIKE CONCAT('%',#{product_name},'%')
                 </if>
                 <if test="product_t_name!=null and product_t_name!=''">
                     AND z.`product_t_name`=#{product_t_name}
                 </if>
                 <if test="check_no!=null and check_no!=''">
                     AND f.`check_no`=#{check_no}
                 </if>
                 <if test="publication!=null and publication!=''">
                     AND f.`publication`=#{publication}
                 </if>
             </trim>
    </select>


    <insert id="addFlightcheck" useGeneratedKeys="true" keyProperty="id" parameterType="com.csr.csrcheck.pojo.Flight_check">
        INSERT INTO `flight_check` (`check_no`,`product_id`,`punish`,`attention`,`publication`,`term_of_validity`,`content`)
       VALUE (#{check_no},#{product_id},#{punish},#{attention},#{publication},#{term_of_validity},#{content})
    </insert>

    <update id="updateFlightcheck" parameterType="com.csr.csrcheck.pojo.Flight_check">
        UPDATE `flight_check` SET `check_no`=#{check_no},`product_id`=#{product_id},`punish`=#{punish},`attention`=#{attention},
                         `publication`=#{publication},`term_of_validity`=#{term_of_validity},`content`=#{content}
                         where id=#{id}
    </update>

    <delete id="deleteFlightcheck">
        DELETE FROM `flight_check` WHERE id=#{id}
    </delete>

    <select id="findflightByid" resultType="com.csr.csrcheck.pojo.Flight_check">
        SELECT f.* FROM `flight_check` f WHERE f.id=#{id}
    </select>
</mapper>