<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csr.csrcheck.mapper.Flight_checkMapper">
<sql id="fligid">
`id`,`check_no`,`product_id`,`punish`,`attention`,`publication`,`term_of_validity`,`content`
</sql>

    <select id="getFlight_checklist" resultType="com.csr.csrcheck.pojo.Flight_check">
        SELECT
f.`publication`,f.`check_no`,c.`company_name` ,f.content
   FROM flight_check f,company c,product p
   WHERE
   p.`company_id`=c.`id` AND f.`product_id`=p.`product_id`;
    </select>

    <select id="getFlight_checklist2" resultType="com.csr.csrcheck.pojo.Flight_check">
        SELECT
c.`company_name`,p.`product_name`,f.`attention`,f.`punish` ,f.content
   FROM flight_check f,company c,product p
   WHERE
   p.`company_id`=c.`id` AND f.`product_id`=p.`product_id`AND c.`id`=#{id};
    </select>
</mapper>