<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csr.csrcheck.mapper.Important_notificationMapper">

    <select id="getimportant_page" resultType="com.csr.csrcheck.pojo.Important_notification">
        SELECT i.*,p.`product_name`,z.`product_t_name`
        FROM important_notification i,product p,`z_product_type` z
        <trim prefix="where" prefixOverrides="and | or">
            and i.`product_id`=p.`product_id`
            AND p.`product_type_id`=z.`id`
            <if test="product_name!=null and product_name!=''">
                AND p.`product_name` LIKE CONCAT('%',#{product_name},'%')
            </if>
            <if test="product_t_name!=null and product_t_name!=''">
                AND z.`product_t_name`=#{product_t_name}
            </if>
        </trim>
    </select>

    <select id="selectproduct" resultType="com.csr.csrcheck.pojo.Product">
        select product_id,product_name from product;
    </select>

    <!--增加产品重要通报信息sql-->
    <insert id="addimportant" parameterType="com.csr.csrcheck.pojo.Important_notification">
        insert into important_notification(
            <if test="title != null or title !=''">
                title,
            </if>
            <if test="content != null or content !=''">
                content,
            </if>
            <if test="product_id != null or product_id !=''">
                product_id,
            </if>
            <if test="release_time != null or release_time !=''">
                release_time
            </if>
            )values (
            <if test="title != null or title !=''">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null or content !=''">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="product_id != null or product_id !=''">
                #{product_id,jdbcType=INTEGER},
            </if>
            <if test="release_time != null or release_time !=''">
                #{release_time,jdbcType=VARCHAR}
            </if>
        );
    </insert>

    <select id="selectByimportant_id" resultType="com.csr.csrcheck.pojo.Important_notification">
        SELECT p.product_id,p.product_name,i.*
        FROM product p,important_notification i
        WHERE p.`product_id` = i.`product_id`
        AND i.id =#{id};
    </select>

    <update id="updateimportant"  parameterType="com.csr.csrcheck.pojo.Important_notification">
        UPDATE important_notification SET
            <if test="title != null or title !=''">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null or content !=''">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="product_id != null or product_id !=''">
                product_id = #{product_id,jdbcType=INTEGER},
            </if>
            <if test="release_time != null or release_time !=''">
                release_time = #{release_time,jdbcType=VARCHAR}
            </if>
        WHERE id = #{id}
    </update>

    <delete id="deleteimportantByid">
        delete from important_notification where id=#{id}
    </delete>
</mapper>