<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csr.csrcheck.mapper.LawsuitMapper">

    
    <select id="getLawsuitlist" resultType="com.csr.csrcheck.pojo.Lawsuit">

        SELECT DISTINCT c.`company_name`,l.`plaintiffs`,l.`court`,l.`casereason`,l.`url`,l.`caseno`,l.`title`,l.`abstracts`,l.`submittime`,
l.`lawsuitUrl`,l.`casetype`,l.`doctype`,l.`agent`,l.`thirdParties`,l.`defendants`
 FROM `lawsuit` l,`company` c,`product` p, z_product_type z
 WHERE l.company_id=c.id AND c.`id`=p.`company_id` AND p.product_type_id=z.id AND z.id=1;
    </select>

    <select id="getListpage" resultType="com.csr.csrcheck.pojo.Lawsuit">
        SELECT l.*,c.`company_name`
            FROM lawsuit l,company c
            <trim prefix="where" prefixOverrides="and | or">
                and  l.`company_id`=c.`id`
                <if test="company_name!=null and company_name!=''">
                    AND c.`company_name` LIKE CONCAT('%',#{company_name},'%')
                </if>
                <if test="casetype!=null and casetype!=''">
                    AND l.casetype LIKE CONCAT('%',#{casetype},'%')
                </if>
                <if test="doctype!=null and doctype!=''">
                    AND l.doctype LIKE CONCAT('%',#{doctype},'%')
                </if>
                <if test="defendants!=null and defendants!=''">
                    AND defendants LIKE CONCAT('%',#{defendants},'%')
                </if>
                <if test="submittime!=null and submittime!=''">
                    AND l.`submittime`=#{submittime}
                </if>
            </trim>
    </select>

</mapper>