<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csr.csrcheck.mapper.MilitaryMapper">

    
    <select id="getMilitarylist" resultType="com.csr.csrcheck.pojo.Product">

     SELECT p.`product_name`,p.`approvals_no`,c.company_name
     FROM product p,company c,z_product_type z
     WHERE  p.domestic_import=1  AND p.product_type_id=z.id AND z.id=3 AND c.id=p.`company_id`;
    </select>

   <select id="getMilitarylist2" resultType="com.csr.csrcheck.pojo.Product">
       SELECT p.`product_name`,p.`approvals_no`,c.company_name
     FROM product p,company c,z_product_type z
     WHERE  p.domestic_import=2 AND p.product_type_id=z.id AND z.id=3 AND c.id=p.`company_id`;
    </select>
</mapper>