<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csr.csrcheck.mapper.OrganMapper">

    
    <select id="getOrganlist" resultType="com.csr.csrcheck.pojo.Company">
       SELECT c.ten_shareholders
FROM company c, product p, z_product_type d
WHERE p.company_id=c.`id`AND c.`id`=p.`company_id` AND p.product_type_id=d.id AND d.id=1 ;
    </select>

    <select id="getOrganlist2" resultType="com.csr.csrcheck.pojo.Company">
SELECT c.`company_name`,c.`company_address`,c.`type_ownership`,c.`main_business`,
       c.`strategic_focus`,c.`listed_unlisted`,
    c.`company_ranking`,c.`licence_no`,c.`production`,c.`organization`,c.`expire_date`,
    c.`business_license`,c.`exequatur`
FROM company c, product p, z_product_type d
WHERE p.company_id=c.`id`AND c.`id`=p.`company_id` AND p.product_type_id=d.id AND d.id=1 ;
    </select>

</mapper>