<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.csr.csrcheck.mapper.RecallMapper">
    <select id="getlist" resultType="com.csr.csrcheck.pojo.Product_recall">
        SELECT c.`company_name`,r.`keywords_remarks`,r.`recall_content`
        FROM product_recall r,product p,company c
        WHERE r.`product_id`=p.`product_id` AND p.`company_id`=c.`id`;
    </select>

    <select id="getListPage" resultType="com.csr.csrcheck.pojo.Product_recall">
    SELECT pr.*,c.`company_name`,p.`product_name`,z.`product_t_name`
    FROM product_recall pr,company c,product p,`z_product_type` z
    <trim prefix="where" prefixOverrides="and | or">
        and pr.`product_id`=p.`product_id`
        AND p.`company_id`=c.id
        AND p.`product_type_id`=z.`id`
        <if test="company_name!=null and company_name!=''">
            AND c.`company_name` LIKE CONCAT('%',#{company_name},'%')
        </if>
        <if test="product_name!=null and product_name!=''">
            AND p.`product_name` LIKE CONCAT('%',#{product_name},'%')
        </if>
        <if test="product_t_name!=null and product_t_name!=''">
            AND  z.`product_t_name` LIKE CONCAT('%',#{product_t_name},'%')
        </if>
    </trim>
    </select>
    <!--查询产品信息-->
    <select id="selectproduct" resultType="com.csr.csrcheck.pojo.Product">
        select product_id,product_name from product;
    </select>

    <!--增加产品重要通报信息sql-->
    <insert id="addrecall" parameterType="com.csr.csrcheck.pojo.Product_recall">
        insert into product_recall(
        <if test="product_id != null or product_id !=''">
            product_id,
        </if>
        <if test="keywords_remarks != null or keywords_remarks !=''">
            keywords_remarks,
        </if>
        <if test="recall_content != null or recall_content !=''">
            recall_content
        </if>
        )values (
        <if test="product_id != null or product_id !=''">
            #{product_id,jdbcType=INTEGER},
        </if>
        <if test="keywords_remarks != null or keywords_remarks !=''">
            #{keywords_remarks,jdbcType=VARCHAR},
        </if>
        <if test="recall_content != null or recall_content !=''">
            #{recall_content,jdbcType=VARCHAR}
        </if>
        );
    </insert>

    <select id="selectByrecall_id" resultType="com.csr.csrcheck.pojo.Product_recall">
        SELECT p.product_id,p.product_name,r.*
        FROM product p,product_recall r
        WHERE p.`product_id` = r.`product_id`
        AND r.id =#{id};
    </select>

    <update id="updaterecall"  parameterType="com.csr.csrcheck.pojo.Product_recall">
        UPDATE product_recall SET
        <if test="product_id != null or product_id !=''">
            product_id = #{product_id,jdbcType=INTEGER},
        </if>
        <if test="keywords_remarks != null or keywords_remarks !=''">
            keywords_remarks = #{keywords_remarks,jdbcType=VARCHAR},
        </if>
        <if test="recall_content != null or recall_content !=''">
            recall_content = #{recall_content,jdbcType=VARCHAR}
        </if>
        WHERE id = #{id}
    </update>

    <delete id="deleterecallByid">
        delete from product_recall   where id=#{id}
    </delete>
</mapper>
