<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csr.csrcheck.mapper.ShareholderMapper">

    <select id="getListPage" resultType="com.csr.csrcheck.pojo.Shareholder">
        SELECT s.*,c.`company_name`
        FROM shareholder s,company c
        <trim prefix="where" prefixOverrides="and | or">
            and s.`company_id`=c.`id`
            <if test="shareholder_name!=null and shareholder_name!=''">
                AND s.shareholder_name LIKE CONCAT('%',#{shareholder_name},'%')
            </if>
            <if test="share_type!=null and share_type!=''">
                AND s.share_type LIKE CONCAT('%',#{share_type},'%')
            </if>
            <if test="company_name!=null and company_name!=''">
                AND c.`company_name` LIKE CONCAT('%',#{company_name},'%')
            </if>
        </trim>
    </select>

    <insert id="addShareholder" useGeneratedKeys="true" keyProperty="id" parameterType="com.csr.csrcheck.pojo.Shareholder">
        INSERT INTO `shareholder` (`company_id`,`shareholder_name`,`share_type`,
        `number_of_shares`,`proportion`)
        VALUE (#{company_id},#{shareholder_name},#{share_type},
        #{number_of_shares},#{proportion})
    </insert>

    <select id="list" resultType="com.csr.csrcheck.pojo.Shareholder">
       SELECT `id`,`shareholder_name` FROM `shareholder`
    </select>

    <!--修改 -->
    <update id="updateShareholder" parameterType="com.csr.csrcheck.pojo.Shareholder">
        update `shareholder`
        set
        company_id=#{company_id},shareholder_name=#{shareholder_name},
        share_type=#{share_type},number_of_shares=#{number_of_shares},
        proportion=#{proportion}
        where id=#{id}
    </update>

    <select id="findshareholderByid" resultType="com.csr.csrcheck.pojo.Shareholder">
        select s.* from shareholder s where s.id=#{id}
    </select>
    <delete id="deleteshareholderByid">
        delete from shareholder where id=#{id}
    </delete>
</mapper>