<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csr.csrcheck.mapper.Special_bulletinMapper">

    <select id="getlistpage" resultType="com.csr.csrcheck.pojo.Special_bulletin">
        SELECT s.* ,c.`company_name`
        FROM `special_bulletin` s,company c
        <trim prefix="where" prefixOverrides="and | or">
            and s.`company_id`=c.`id`
            <if test="company_name!=null and company_name!=''">
                AND c.`company_name` LIKE CONCAT('%',#{company_name},'%')
            </if>
            <if test="release_time!=null and release_time!=''">
                AND s.`release_time`=#{release_time}
            </if>
        </trim>
    </select>

    <insert id="addSpecial_bulletin" useGeneratedKeys="true" keyProperty="id" parameterType="com.csr.csrcheck.pojo.Special_bulletin">
        INSERT INTO `special_bulletin` (`company_id`,`title`,`content`,
        `release_time`)
        VALUE (#{company_id},#{title},#{content},
        #{release_time})
    </insert>

    <!--修改 -->
    <update id="updateSpecial_bulletin" parameterType="com.csr.csrcheck.pojo.Special_bulletin">
        update `special_bulletin`
        set
        company_id=#{company_id},title=#{title},
        content=#{content},release_time=#{release_time}
        where id=#{id}
    </update>

    <select id="findspecial_bulletinByid" resultType="com.csr.csrcheck.pojo.Special_bulletin">
        select s.* from special_bulletin s where s.id=#{id}
    </select>

    <delete id="deletespecial_bulletinByid">
        delete from special_bulletin where id=#{id}
    </delete>
</mapper>