<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csr.csrcheck.mapper.Stock_alterationMapper">

    <select id="getlistPage" resultType="com.csr.csrcheck.pojo.Stock_alteration">
        SELECT st.*,sh.`shareholder_name`
        FROM stock_alteration st,shareholder sh
        <trim prefix="where" prefixOverrides="and | or">
            AND st.`investor_id`=sh.id
            <if test="shareholder_name!=null and shareholder_name!=''">
                AND sh.`shareholder_name` LIKE CONCAT('%',#{shareholder_name},'%')
            </if>
            <if test="change_time!=null and change_time!=''">
                AND st.`change_time`=#{change_time}
            </if>
            <if test="type!=null and type!=''">
                AND st.`type`=#{type}
            </if>
        </trim>
    </select>
   
    <insert id="addStock_alteration" useGeneratedKeys="true" keyProperty="id" parameterType="com.csr.csrcheck.pojo.Stock_alteration">
        INSERT INTO `stock_alteration` (`investor_id`,`type`,`ratio_after`,
        `ratio_before`,`share_change`,`increase_decrease`,`change_time`)
        VALUE (#{investor_id},#{type},#{ratio_after},
        #{ratio_before},#{share_change},#{increase_decrease},
        #{change_time})
    </insert>

    <!--修改 -->
    <update id="updateStock_alteration" parameterType="com.csr.csrcheck.pojo.Stock_alteration">
        update `stock_alteration`
        set
        type=#{type},ratio_after=#{ratio_after},
        ratio_before=#{ratio_before},share_change=#{share_change},
        increase_decrease=#{increase_decrease},change_time=#{change_time}
        where id=#{id}
    </update>

    <select id="findstock_alterationByid" resultType="com.csr.csrcheck.pojo.Stock_alteration">
        select s.* from stock_alteration s where s.id=#{id}
    </select>

    <delete id="deletestock_alterationByid">
        delete from stock_alteration where id=#{id}
    </delete>

</mapper>