<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csr.csrcheck.mapper.TheirMapper">
    <!--<sql id="product_id">
        `product_id`,`product_name`,`product_type_id`,`product_territory`,`study_appear`,
        `registered`,`stage_no`,`patent_no`,`patent_type_id`,
        `domestic_import`,`yieldly`
    </sql>-->

    <select id="getAlltheirByproduct_id" resultType="com.csr.csrcheck.pojo.Product">
        select p.product_name,p.product_territory,p.yieldly FROM product p
        <where>
            product_type_id = #{id}
            <if test="product_name!=null and product_name!= ''">
                and p.product_name LIKE concat ('%',#{product_name},'%');
            </if>
        </where>
    </select>

    <!--查询进口/国产化妆品-->
    <select id="gettheirByimport" resultType="com.csr.csrcheck.pojo.Product">
        SELECT p.`product_name`,p.`approvals_no`,c.`company_name`
        FROM product p,z_product_type z,company c
        WHERE p.`product_type_id`=z.`id` AND p.`company_id`=c.`id` AND z.`id`=#{t_id} AND p.`domestic_import`=#{i_id};
    </select>
    <!--查询化妆品生产厂家-->
    <select id="getComanyByProduct_t_id" resultType="com.csr.csrcheck.pojo.Product">
         SELECT c.`company_name`,c.`licence_no`,c.`organization`,c.`expire_date`
         FROM product p,company c,z_product_type z
         WHERE p.`company_id`=c.`id` AND p.`product_type_id`=z.`id` AND p.`product_type_id`=#{t_id};
    </select>

</mapper>