<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csr.csrcheck.mapper.UserMapper">
<sql id="userid">
u.`user_id`,u.`user_name`,u.`password`,u.`user_roleid`,u.`user_sex`,u.`user_age`,
u.`user_address`,u.`create_people`,u.`create_time`,u.user_photo,
</sql>
    
    <select id="findUser_name" resultType="com.csr.csrcheck.pojo.User">
     select
     <include refid="userid"></include>
     r.role_name
     from user u,z_role r
     where u.user_roleid=role_id
     and u.user_name=#{user_name}
    </select>

    <update id="UpdatePassword">
        UPDATE `user` SET `password`= #{newpassworld} WHERE user_id=#{user_id}
    </update>

    <select id="findUser" resultType="com.csr.csrcheck.pojo.User">
    select
    <include refid="userid"></include>
        r.role_name
        from user u,z_role r
        where u.user_roleid=role_id
        and u.user_id=#{user_id}
    </select>
    <update id="UpdateUser">
        UPDATE `user` SET `user_name`=#{user_name},`user_sex`=#{user_sex},`user_age`=#{user_age},`user_address`=#{user_address}
        WHERE `user_id`=#{user_id}
    </update>

    <update id="UpdatePhoto" parameterType="com.csr.csrcheck.pojo.User">
        UPDATE `user` SET user_photo=#{user_photo} where user_id=#{user_id}
    </update>

    <insert id="addUser" useGeneratedKeys="true" keyProperty="user_id" parameterType="com.csr.csrcheck.pojo.User">
        INSERT INTO `user`
        (`user_name`,`password`,`user_roleid`,`user_sex`,`user_age`,`user_address`,
        `create_people`,`create_time`,`user_photo`)
        VALUE(#{user_name},#{password},2,#{user_sex},#{user_age},#{user_address},#{create_people},#{create_time},'/newsFile/1573868898961_767.png')
    </insert>
</mapper>