<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csr.csrcheck.mapper.UserMapper">
<sql id="userid">
u.`user_id`,u.`user_name`,u.`password`,u.`user_roleid`,u.`user_sex`,u.`user_age`,
u.`user_address`,u.`create_people`,u.`create_time`,
</sql>
    
    <select id="findUser_name" resultType="com.csr.csrcheck.pojo.User">
     select
     <include refid="userid"></include>
     r.role_name
     from user u,z_role r
     where u.user_roleid=role_id
     and u.user_name=#{user_name}
    </select>

    <update id="UpdatePassword">
        UPDATE `user` SET `password`= #{newpassworld} WHERE user_id=#{user_id}
    </update>

    <select id="findUser" resultType="com.csr.csrcheck.pojo.User">
    select
    <include refid="userid"></include>
        r.role_name
        from user u,z_role r
        where u.user_roleid=role_id
        and u.user_id=#{user_id}
    </select>
</mapper>